@use '../../styles/base' as *;

.hero{
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 70%;

        img{
            width: auto;
            height: 500px;
            padding: 0 5rem 0 0;
        }

        .hero-text {
            color: $primary-color;
            
            h1{
                font-size: 3rem;
                margin-bottom: 1rem;
            }
            a{
                @include button-style();
                height: 2.52em;
                width: 8em;
                svg{
                    width: 1em;
                    height: 1em;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}