@use "../../styles/base/variables" as *;

header {
    height: $navbar-height;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; // Bootstrap navbar z-index

    .navbar-toggler {
        color: $primary-color !important;
        border-color: $primary-color !important;
        position: relative;
        z-index: 1100;

        &:focus,
        &:hover {
            background-color: rgba($primary-color, 0.1);
            border-color: $primary-color !important;
        }

        .navbar-toggler-icon {
            background: none;
            width: 1.5em;
            height: 1.5em;
            position: relative;
            display: inline-block;

            span,
            &::before,
            &::after {
                content: '';
                display: block;
                height: 3px;
                width: 100%;
                background: $primary-color;
                margin: 0.3em 0;
                border-radius: 2px;
                transition: all 0.3s;
            }

            span {
                margin: 0.3em 0;
            }

            &::before {
                position: absolute;
                top: 0.2em;
                left: 0;
            }

            &::after {
                position: absolute;
                bottom: 0.2em;
                left: 0;
            }
        }
    }

    .custom-navbar {
        background-color: $secondary-color !important;
        padding-top: 0;
        padding-bottom: 0;
        min-height: $navbar-height;
    }

    .custom-navbar-container {
        width: 95vw;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .custom-logo {
        font-size: 1px;
        background-image: url("../../assets/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 170px;
        height: 90px;
        margin-bottom: 0;

        a {
            display: block;
            color: transparent;
            height: 100%;
            width: 100%;
        }
    }

    .navbar-nav {
        display: flex;
        gap: 30px;
        margin-bottom: 0;

        .nav-link {
            color: $primary-color !important;
            font-weight: bold;
            font-size: 1.3em;
            transition: color 0.3s;

            &:hover {
                color: black !important;
            }
        }

        .cart-icon {
            svg {
                width: 25px;
                height: auto;
            }
        }
    }

    .header-divider {
        height: 2px;
        width: 90vw;
        color: $primary-color;
        background-color: $primary-color;
        margin: 0 auto;
        border: none;
    }
}