@use '../../styles/base' as *;

.menu-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary-color;
  margin: 0;
  overflow: auto;
}

.canva-embed {
  width: 900px;
  height: 1273px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canva-embed-wrapper {
  width: 900px;
  height: 1273px;
  border: none;
  background: none;
  display: block;
}