@use "variables" as *;

body{
    background-color: $secondary-color;
    font-family: $font-family !important;
}

main{
    padding-top: $navbar-height;
}
.login-register-a{
    text-decoration: none;
    color: $secondary-color;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
}