:root{
    --primary-color: #BF0413;
    --secondary-color: #FFFBE5;
    --text-color: #000000;
    --navbar-height: 8rem;
}

$primary-color: #BF0413;
$secondary-color: #FFFBE5;
$text-color: var(--text-color);
$navbar-height: var(--navbar-height);
$font-family: 'Abhaya Libre';